.content{
    margin-top: 50px;
    margin-bottom: 10px;
    background-color:rgb(235, 161, 235);
    padding:10px;
    width:100%;

}


html, body{
    margin:0;
    height: 100%;
    background-image: url("intersection.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

 
}
 

